/*#region Roboto Font Classes  */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
/*#endregion */
.grid-page {
    min-height: 100dvh;
    display:grid;
    grid-template-rows: auto 1fr auto;
}

.grid-content{
    display:grid; 
    grid-template-columns: 20% 1fr 20%; 
    /* grid-template-rows: repeat(12,1fr);  */
    grid-gap:15px;
    clear:left;}

.grid-sidebar{
    display:grid;
    /* grid-template-rows: repeat(12,1fr); */
}

.grid-main-content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    row-gap: 20px;
    
}

.bio{
    margin-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    grid-column: 1/span 2;
}

.bio-img{
     width: 150px; height: 150px; border-radius: 50%; margin:auto;
}

.project-img{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40%; 
    height: 50%; 
    float:left; 
    margin-left: 5px; 
    margin-right: 5px;
    margin-bottom: 5px;
}


.project-icon{font-size: 5em;}
.nav-icon{font-size: 2em;}
.nav-button{
    display:flex;    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

p{margin:15px;}



header{
    display:grid;
    grid-template-columns: 1fr 1fr;
}


header > div {
    display:flex; 
    justify-content: space-around;
    align-items: center;
    gap:10px;
    }


header > h1 {text-align: end; padding-right: 15px;}



/* Styles */
.grid-content{}
.grid-main-content{box-shadow: 00 25px 10px rgba(0,0,0, .25);}
.grid-page{}
.grid-sidebar{}
.project-img{
    box-shadow: 00 10px 10px rgba(0,0,0, .25);
    border-radius: 5px;
}
.nav-button{
    box-shadow: 00 10px 10px rgba(0,0,0, .25);
    border-radius: 5px;
}
.nav-button:hover{
    background-color:#D8DEE9 ;
}

header a {text-decoration: none; color:black;} 
header a:visited {color:black;}


header{border-bottom: 3px solid black;}

.bio-img{box-shadow: 00 15px 10px rgba(0,0,0, .25);;}

.project-img:hover{background-color:#D8DEE9 }
.project a:first-child{color:black;} 
.project a:first-child:visited{color: black;}
.project a:first-child:hover{color: black;}

.project a{color:black;}
.project a:hover{color:lightgray;}
.project a:visited{color:rgb(63, 63, 63);}


footer {
    border-top: 3px solid black;
}

footer h4 {text-align: center;}

/* #region Debug Styles */
html{background-color:#383d46;}
body{background-color: blue;}
.bio{background-color: #E5E9F0;}
/* .bio-img{background-color: pink;} */
.grid-page{background-color: aqua;}
.grid-content{background-color:#D8DEE9;}
.grid-main-content{background-color: #E5E9F0;}
/* .project-img{background-color: pink;} */
/* .nav-button{background-color: peru;} */
header{background-color: #ECEFF4;}
footer{background-color: #ECEFF4;}
/* #endregion */


@media (max-width: 990px){
.nav-button{box-shadow: none; height: 100%;}
}

@media (max-width: 800px) {
    .grid-content{grid-template-columns: 1fr;}
    .grid-main-content{grid-template-columns: minmax(0, 1fr); text-align: center;}
    .bio{grid-column: 1/span 1;}
    .project-img{width: 100%; height:100%; grid-row: 1/span 2;}
    .project{display:grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr;}
    header > h1 {text-align: center; }   
    .nav-button{box-shadow: none;}
    .nav-button > p {display: none;}    
}

@media (max-width: 550px){
    header > h1{font-size: 1.5em;}
    .nav-icon{font-size: 1.5em;}
    .nav-button{box-shadow: none;}
}

@media (max-width: 426px){
    header > h1{font-size: 1.17em;}
    .nav-icon{box-shadow: none;}
    .nav-button{box-shadow: none;}
    /* .nav-icon{font-size: 1.17em;} */
}